* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: #21232a;
  color: white;
  padding: 70px;
  font-size: 1.3rem;
}

button {
  font-size: 1.5rem;
  margin-right: 10px;
  padding: 10px;
}
